--swiftversion 5.10
--indent 4
--tabwidth 4
--smarttabs enabled
--allman false
--self init-only
--commas inline
--importgrouping testable-last
--exclude Sources/CGhostty,ghostty,.build,Vendors,.hootty
--disable wrap
--disable wrapArguments
--disable wrapMultilineStatementBraces
--disable wrapEnumCases
--disable wrapSwitchCases
--disable wrapConditionalBodies
--disable blankLinesAroundMark
--disable redundantReturn
--disable redundantSelf
